body {
    background-image: url("./images/hypnotize.png");
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

.App-header {
    text-align: center;
    background-color: #696969;
    min-height: 10vh;
    color: white;
}

#title {
    text-decoration: none;
    color: #FFF;
    font-family: 'Lobster';
    font-weight: bold;
    padding: 2em;
    font-size: 2em;
    line-height: 10vh;
}

#home {
  float: left;
  line-height: 10vh;
  padding-left:3vh;
  font-size: 2em;
}

.App-intro {
    font-size: large;
}

.boxes {
  margin-top: 2em;
}

.box {
    min-height: 75vh;
    width: 100%;
    font-size: 100%;
    word-wrap: break-word;
    padding: 1em;
}

textarea {
    resize: none;
    border-radius: 5px;
}

#left {
    padding: 1em;
    height:100%;
    width: 100%;
    background-color: #FFE4E1;
}

#right {
    border-radius: 5px;
    border: 1px solid #a2a2b6;
    padding: 1em;
    background-color: #E6E6FA;
}

.footer {
    font-size:1.5em;
    text-align: center;
    padding: 1em;
    width: 100%;
    font-family: 'Lobster', cursive;
}

#myLink {
    text-decoration: none;
}
